@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.btn {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active__heading {
  color: green;
}

.hover__effect:hover {
  background-color: #f1f6f4;
}

.audio__progress--bar {
  border-radius: 8px;
  height: 4px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  outline: none;
  appearance: none;
  accent-color: white;
}

.audio__progress--bar::-webkit-slider-thumb {
  color: white;
}

.plan__header--wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #032b41;
  border-bottom-right-radius: 16rem;
  border-bottom-left-radius: 16rem;
}

@media(max-width: 768px) {
  .plan__header--wrapper:before {
    border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  }
}

.plan__card--separator:before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.plan__card--separator:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.plan__card--active {
  border: 4px solid #2be080;
}
.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: 700;
}

@media(max-width: 768px) {
  .section__title {
    font-size: 24px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
  /* performance hint */
  will-change: transform;
}
